---
import { changeLanguage, setDefaultNamespace, t } from "i18next";
import { localizePath } from "astro-i18next";
import { LanguageSelector } from "astro-i18next/components";
import { Icon } from "astro-icon/components";

setDefaultNamespace("navbar");
---

<nav
	aria-label="Navigation Bar"
	class="border-b-4 border-primary/50 text-center text-secondary"
>
	<div class="flex items-center justify-between px-4 py-2 sm:hidden">
		<a href={localizePath("/")} class="block">
			<h1 class="text-2xl text-tertiary">{t("home")}</h1>
		</a>
		<button
			id="mobile-menu-button"
			aria-label="Toggle mobile menu"
			aria-expanded="false"
			class="text-secondary hover:text-tertiary focus:outline-none"
		>
			<Icon name="line-md:menu" class="h-8 w-8" />
		</button>
	</div>
	<ul
		id="mobile-menu"
		class="hidden flex-col items-center px-2 sm:flex sm:flex-row sm:p-0"
	>
		<li class="hidden sm:block sm:mr-auto">
			<a href={localizePath("/")} class="block py-2 sm:p-3">
				<h1 class="text-2xl text-tertiary">{t("home")}</h1>
			</a>
		</li>
		<li class="w-full sm:w-fit">
			<a
				href={localizePath("/events")}
				class="block w-full py-2 transition-colors duration-500 hover:bg-secondary hover:text-white sm:p-4 rounded sm:rounded-none"
			>
				{t("events")}
			</a>
		</li>
		<li class="w-full sm:w-fit">
			<a
				href={localizePath("/blog")}
				class="block w-full py-2 transition-colors duration-500 hover:bg-secondary hover:text-white sm:p-4 rounded sm:rounded-none"
			>
				{t("blog")}
			</a>
		</li>
		<li class="w-full sm:w-fit">
			<a
				href={localizePath("/governance")}
				class="block w-full py-2 transition-colors duration-500 hover:bg-secondary hover:text-white sm:p-4 rounded sm:rounded-none"
			>
				{t("governance")}
			</a>
		</li>
		<li class="w-full sm:w-fit">
			<a
				href={localizePath("/team")}
				class="block w-full py-2 transition-colors duration-500 hover:bg-secondary hover:text-white sm:p-4 rounded sm:rounded-none"
			>
				{t("team")}
			</a>
		</li>
		<li class="flex items-center py-2">
			<LanguageSelector
				class="mx-2 block rounded-md border border-secondary/50 bg-transparent px-2 py-2 text-secondary transition-colors duration-500 hover:bg-secondary hover:text-white"
			/>
		</li>
	</ul>
</nav>

<script>
	const button = document.getElementById("mobile-menu-button");
	const menu = document.getElementById("mobile-menu");

	button?.addEventListener("click", () => {
		const isExpanded = button.getAttribute("aria-expanded") === "true";
		button.setAttribute("aria-expanded", (!isExpanded).toString());
		menu?.classList.toggle("hidden");
		menu?.classList.toggle("flex");
	});
</script>
